# Created by .ignore support plugin (hsz.mobi)
node_modules
.idea/compiler.xml
 .idea/copyright/profiles_settings.xml
 .idea/javascriptproject.iml
 .idea/misc.xml
 .idea/modules.xml
  .idea/vcs.xml
 .idea/workspace.xml

